<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layoutPadrao">

<head>
<title>Dashboard</title>
<link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}">
</head>

<body>

<div layout:fragment="conteudo">

    <div th:replace="/layout/menu-lateral/menuLateral"></div>

		<div class="content-wrapper">
        <div class="page-title">
          <div>
            <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
          </div>
          <div>
            <ul class="breadcrumb">
              <li><i class="fa fa-home fa-lg"></i></li>
              <li><a href="#">Dashboard</a></li>
            </ul>
          </div>
        </div>
   
       <div class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					<div class="aw-box">
						<div class="aw-box__icon">
							<i class="fa  fa-heartbeat  fa-3x"></i>
						</div>
						<div class="aw-box__value">R$[[${{valorItensEstoque.valor}}]]</div>
						<div class="aw-box__title">Valor do estoque</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="aw-box">
						<div class="aw-box__icon">
							<i class="fa  fa-hashtag  fa-3x"></i>
						</div>
						<div class="aw-box__value">[[${valorItensEstoque.totalItens}]]</div>
						<div class="aw-box__title">Itens no estoque</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="aw-box">
						<div class="aw-box__icon">
							<i class="fa  fa-users  fa-3x"></i>
						</div>
						<div class="aw-box__value">[[${totalClientes}]]</div>
						<div class="aw-box__title">totalClientes</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-4">
					<div class="aw-box">
						<div class="aw-box__icon">
							<i class="fa  fa-usd  fa-3x"></i>
						</div>
						<div class="aw-box__value">€[[${{totalComandaAnual}}]]</div>
						<div class="aw-box__title">Vendas no ano</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="aw-box">
						<div class="aw-box__icon">
							<i class="fa  fa-signal  fa-3x"></i>
						</div>
						<div class="aw-box__value">R$[[${{totalComandaMesal}}]]</div>
						<div class="aw-box__title">Vendas no mês</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="aw-box">
						<div class="aw-box__icon">
							<i class="fa  fa-shopping-cart  fa-3x"></i>
						</div>
						<div class="aw-box__value">R$[[${{ticketMedioAnual}}]]</div>
						<div class="aw-box__title">Ticket médio</div>
					</div>
				</div>
			</div>
		</div>
		
	  <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <div class="card">
              <h3 class="card-title">Grafico de Comandas</h3>
              <div class="embed-responsive embed-responsive-16by9">
                <canvas class="embed-responsive-item" id="GraficoComandas"></canvas>
              </div>
            </div>
          </div>
          
      </div>
		
      </div>
	</div>
	
 <th:block layout:fragment="javascript-extra">
	 <script th:src="@{/layout/javascripts/Chart.min.js}"></script>
	 <script th:src="@{/javascripts/dashboard.js}"></script>
 </th:block>
	
</body>