<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layoutPadrao"
	xmlns:ristorante="http://TJsistemas.ristorante.com">

<head>
<title>Cadastro de Camareiro</title>
</head>

<body>

	<div layout:fragment="conteudo">

		<div th:replace="/layout/menu-lateral/menuLateral"></div>

		<div class="content-wrapper">
			<div class="page-title">
				<div>
					<h1 th:if="${camareiro.novo}">
						<i class="fa fa-dashboard"></i> Camareiro
					</h1>
					<h1 th:unless="${camareiro.novo}" th:text="|Edição: ${camareiro.codigo}- ${camareiro.nome}|">
					  <i class="fa fa-dashboard"></i> Camareiro edicao
					</h1>
				</div>
				<div>
					<ul class="breadcrumb">
						<li><i class="fa fa-home fa-lg"></i></li>
						<li><a href="#">cadastro Camareiro</a></li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="card">

						<form method="POST" th:object="${camareiro}" th:action="${camareiro.novo}? @{/camareiro/novo} :  @{/camareiro/{id}(id=${camareiro.id})}">
						<input type="hidden" th:field="*{id}">
							<fieldset>
								<legend>Basico</legend>
								<div class="row">
									<div class="col-sm-2">
									  <label class="control-label">COD.</label> <input
									  class="form-control" type="text" th:field="*{id}" readonly>
									</div>

									<div class="col-sm-8" ristorante:classforerror="nome" >
										<label class="control-label" for="inputNome">nome</label>
										<input class="form-control" type="text" th:field="*{nome}">
									</div>

                                   <div class="col-sm-2 form-group">
								     <button class="btn btn-primary" style="margin-top:3rem" type="submit">Salvar</button>
								   </div>   
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>