body{
 	min-height: 100vh;        /* vh == viewport, pega o tamanho total da tela*/
	
	background-color: #CCC;
	
	/*background-image: url('https://unsplash.it/g/1500/800?random');  /g/  so preto e branco : 1500/800 largura e altura  */
                                                                    /* imagem fixa  https://unsplash.it/1500/800?image=737*/
 }

.form-login{ 
	margin-top: 50vh;             /*pega 50% do viewport e da de margin-top*/
	transform: translateY(-50%);  /*traduz pra metade do tamanho. 'Y' horizontal no plano cartesiano*/
	padding: 20px 30px;         
	
	background-color: rgba(0, 0, 0, .9); /* .9 --> 90% de transparencia*/ 
    color: #FFF;
}

.form-login h1{
   margin:  0 0 5px;   
}

.form-login h2{
   margin: 0 0 30px;
   
   font-size: 1em;
 }
 
 .tem-erro {
    color: red; 
 }
 .centralizar-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}