<script id="produto-pesquisa-rapida" type="text/x-handlebars-template"> 

          {{#if .}}
             {{#each .}}

                     <div class="col-md-3">
						<div data-id="{{id}}" class="produto {{categoria.cores}} js-produto-selecionado">

							<div class="descricao-produto">
								<div>{{id}}-{{descricao}}</div>
							</div>

							<div class="produto-rodape">
								<span>&#8364; {{valor}}</span>
							</div>
						</div>
					</div>
            {{/each}}
         {{else}}
			 
			   <h4>Nenhum Produto encontrado</h4>
			
          {{/if}}
</script>  