<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layoutPadrao">

<head>
<title>Cadastro de Clientes</title>
</head>

<body>

	<div layout:fragment="conteudo">
		<div th:replace="/layout/menu-lateral/menuLateral"></div>

		<div class="content-wrapper">
			<div class="page-title">
				<div>
					<h1>
						<i class="fa fa-dashboard"></i> Cliente
					</h1>
				</div>
				<div>
					<ul class="breadcrumb">
						<li><i class="fa fa-home fa-lg"></i></li>
						<li><a href="#">cadastro Cliente</a></li>
					</ul>
				</div>
			</div>

         <th:block th:include="fragments/MensagemSucesso"></th:block>
		<form  method="POST" th:object="${cliente}" th:action="@{/cliente/novo}">
		    <th:block th:include="fragments/MensagensErrosValidacao"></th:block>
			
			<input type="hidden" th:field="*{id}">
			<div class="row">
				<div class="col-md-12">

					<div class="card">
							<fieldset>
								<legend>Basico</legend>
								<div class="row">
								
								 <div class="col-sm-2">
									<label class="control-label">CODIGO</label> 
									<input class="form-control" type="text" th:field="*{codigo}">
								 </div>

									 <div class="col-sm-5" th:classappend="${#fields.hasErrors('nome')} ? has-error">
											<label class="control-label">RAZÓN
												SOCIAL/NOMBRE</label> <input class="form-control" type="text"  th:field="*{nome}">
									</div>

									<div class="col-sm-5" th:classappend="${#fields.hasErrors('nomeFantasia')} ? has-error">
										<label class="control-label" >NOM. COMERCIAL</label> 
											<input class="form-control" type="text" th:field="*{nomeFantasia}">
									</div>

								</div>

								<div class="row">

									<div class="col-sm-4" th:classappend="${#fields.hasErrors('numeroDocumento')} ? has-error">
											<label class="control-label">N°
												DOCUMENTO</label> <input class="form-control" type="text"
												placeholder="999.999.999-99" th:field="*{numeroDocumento}">
									</div>

									<div class="col-sm-4" th:classappend="${#fields.hasErrors('email')} ? has-error">
										<label class="control-label" >E-Mail</label> <input
										class="form-control" type="text" th:field="*{email}" >
									</div>

									<div class="col-sm-4" th:classappend="${#fields.hasErrors('telefone')} ? has-error">
										<label class="control-label">TELÉFONO</label>
										<input class="form-control" type="text" th:field="*{telefone}">
									</div>
								</div>

							</fieldset>
					   </div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="card">

							<fieldset>
								<legend>Dirección</legend>
								<div class="row">

									<div class="col-sm-4" th:classappend="${#fields.hasErrors('cep')} ? has-error">
										<label class="control-label" >COD.POSTAL</label>
											 <input class="form-control" type="text"
											placeholder="99999" th:field="*{cep}">
									</div>

									<div class="col-sm-4" th:classappend="${#fields.hasErrors('provincia')} ? has-error">
										<label class="control-label">PROVINCIA</label>
										<input class="form-control" type="text" th:field="*{provincia}">
									</div>

									<div class="col-sm-4" th:classappend="${#fields.hasErrors('localidad')} ? has-error">
										<label class="control-label" for="inputEmail">LOCALIDAD</label>
										<input class="form-control" type="text" th:field="*{localidad}">
									</div>

								</div>

								<div class="row  form-group">
									<div class="col-sm-8" th:classappend="${#fields.hasErrors('direcion')} ? has-error">
										<label class="control-label">DIRECCIÓN</label>
										<input class="form-control" type="text" th:field="*{direcion}">
									</div>

									<div class="col-sm-4" th:classappend="${#fields.hasErrors('numero')} ? has-error">
										<label class="control-label">NÚMERO</label> <input
											class="form-control" type="text" th:field="*{numero}">
									</div>

								</div>

								<div class="row">
									<div class="col-sm-3" th:classappend="${#fields.hasErrors('fornecerdor')} ? has-error">
									
									<!--Checkbox Markup-->
								   	 <div>
										<div class="checkbox checkbox-inline">
										    <input id="fornecedor" type="checkbox" th:field="*{fornecerdor}">
											<label  for="fornecedor">es fornecedor?</label>
										</div>
									 </div>
									</div>
						
								</div>

							</fieldset>
					</div>
			
				 <div class="card">	
					<div class="row">
						<div class="col-sm-2">
							<button class="btn btn-primary" type="submit">Submit</button>
						</div>
					</div>
				 </div>	
				</div>

			</div>
		  </form>
		</div>
	</div>
</body>
</html>