<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layoutPadrao"
	xmlns:ristorante="http://TJsistemas.ristorante.com">

<head>
<title>Clientes</title>
</head>

<body>

	<div layout:fragment="conteudo">
		<div th:replace="/layout/menu-lateral/menuLateral"></div>

     <div class="content-wrapper">
        <div class="page-title">
          <div>
            <h1><i class="fa fa-th-list"></i> Tabela Cliente</h1>
             <!-- <p>Basic bootstrap tables</p> -->
          </div>
          <div>
            <ul class="breadcrumb">
              <li><i class="fa fa-home fa-lg"></i></li>
              <li ><a th:href="@{/cliente/novo}">Cadastro Cliente</a></li>
              <li class="active">Tabela Cliente</li>
            </ul>
          </div>
        </div>
        <div class="row">
        
   <div class="col-md-12">
     <div class="card">
          
        <form class="form-horizontal" method="GET" th:object=${clienteFilter}>
          <div class="row"> 
            
            <div class="col-sm-2">
              <label class="control-label" >COD.</label>
                          <input class="form-control" type="text" th:field="*{codigo}">
              </div> 

             <div class="col-sm-3">
              <label class="control-label" >NOMBRE</label>
                          <input class="form-control"  type="text" th:field="*{nome}">
            </div> 
            <div class="col-sm-2">
              <label class="control-label" >DOC.</label>
                          <input class="form-control"  type="text" th:field="*{documento}">
            </div> 
           
           <div class="col-sm-3">		  
               <label class="control-label" >E-Mail</label>
                       <input class="form-control"  type="text" th:field="*{email}">
            </div> 

            <div class="col-sm-2 text-center" >		  
              <button class="btn btn-primary " style="margin-top:3rem" type="submit">Submit</button>
           </div> 
                  
         </div> 
       </form>
      </div>
   </div>
          
          <div class="col-md-12">
            <div class="card">
             <!-- <h3 class="card-title">Tabela Cliente</h3> -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
<!--                         <th:block th:replace="fragments/Ordenacao :: order (${pagina}, 'codigo', 'COD.')"></th:block> -->
                             <ristorante:order page="${pagina}" field="codigo" text="COD."/>        
                    </th>
                    <th>Razon Social</th>
                    <th>doc.</th>
                    <th>E-mail</th>
                    <th class="text-center">telefone</th>
                    <th class="text-right">acoes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="cliente : ${pagina.conteudo}">
                    <td th:text="${cliente.codigo}">1</td>
                    <td th:text="${cliente.nome}">Mark</td>
                    <td th:text="${cliente.numeroDocumento}">Otto</td>
                    <td th:text="${cliente.email}">Mark</td>
                    <td class="text-center" th:text="${cliente.telefone}">@mdo</td>
                    
                    	<td class="text-right" >
							<a class="btn  btn-link  btn-xs" title="Editar" th:href="@{/cliente/{id}(id=${cliente.id})}" > 
								<i class="fa fa-pencil"></i>
							</a>
						</td>
                  </tr>
                  
                  <tr th:if="${pagina.vazia}">
					  <td colspan="7">Nenhum Cliente Cadastrado!</td>
					</tr>
                </tbody>
              </table>
            </div>
               <ristorante:pagination page="${pagina}"/>
            
          </div>
        </div>
       </div>

	</div>
</body>
</html>