<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="layout/layoutPadrao">

<head>
<title>Cadastro de Comanda</title>
</head>

<body>

	<div layout:fragment="conteudo">

		<div th:replace="/layout/menu-lateral/menuLateral"></div>

		<div class="content-wrapper">
		
			<div class="row  js-tabela-mesas-container">
				    <th:block th:replace="comanda/tabelaMesas"/>
		   </div> 
		
      <div class="row">
       <th:block th:include="fragments/MensagemSucesso"></th:block> 
    
       <form method="POST" th:action="@{/comanda/comanda}" th:object="${comanda}">
	     <th:block th:include="fragments/MensagensErrosValidacao"></th:block>
	  <div class="col-sm-4">
		
	     <input type="hidden" id="uuid" th:field="*{uuid}">
		 <input type="hidden" th:field="*{id}">
		
		<div class="card">
			<div class="card-body">
				
				  <div class="row">
			       <div class="col-xs-6">
	     
			          <div class="form-group">  
			           
						  <select id="example-getting-started"  multiple="multiple">
								<option th:each="mes : ${mesas}" th:value="${mes.id}" th:text="|mesa_${mes.numeroMesa}|" th:class="js-mesas">
							    </option>
						  </select>
						    
						</div> 	
				   </div>	
			       <div class="col-xs-6">   
	                  <div class="form-group">   
	     				 <select id="select-camareiro" class="input-sm btn btn-primary" th:field="*{camareiro}">
					        <option value="">Camareiro</option>
							<option th:each="camareiro : ${camareiros}"  th:value="${camareiro.id}" 
							             th:text="${camareiro.nome}">Joao</option>
						</select>
					 </div>	
	               </div>
		          </div>		  
				
				 <div class="row">	
				     <div class=" col-sm-12">
		               <div class="form-group" >        
						   <div class="input-group">
						      <input id="nomeCliente" data:fornecedor="false" type="text" class="form-control input-sm" th:field="*{cliente.nome}" placeholder="pesquise um cliente">
						        <input id="idCliente" type="hidden" th:field="*{cliente}"/>	
		                        <span class="input-group-btn">
		                           <button  class="btn btn-primary button-size-sm" type="button" 
		                                         data-toggle="modal" data-target="#pesquisaRapidaCliente" ><span class="fa fa-search"></span></button>
		                         </span>
		                    </div>
						</div>
					 </div>
			     </div>	

					<div class="form-group">
						<div class="row">
							<div class="col-sm-12">
							
							  <div  class="tj-tabela-produto js-tabela-produtos-container" data:url="@{/comanda}" data:valor="${valorTotalItens}" data:total-itens="${totalItens}" data:qtd-Itens="${quantidadeProd}">
						      	    
						      	<th:block th:replace="comanda/tabelaItensComanda"/>
					
					          </div>
							</div>
						</div>
					</div>

                    <div class="tj-tabela-item  alert-info js-totais" >
														
						<div class="tj-tabela-item__coluna col-sm-3">
								<div class="tj-tabela-item__total-comanda  tj-tabela-item__descricao-resumo-comanda">total itens</div>
						</div>
						<div class="tj-tabela-item__coluna col-sm-2">
								<div class="tj-tabela-item__total-comanda tj-tabela-item__descricao-resumo-valores js-quantidade-itens">0</div>
						</div>
							
						<div class="tj-tabela-item__coluna col-sm-4">
								<div class="tj-tabela-item__total-comanda tj-tabela-item__descricao-resumo-comanda ">total</div>
						</div>
						<div class="tj-tabela-item__coluna col-sm-2">
								<div class="tj-tabela-item__total-comanda tj-tabela-item__descricao-resumo-valores js-valor-total-itens">€00,00</div>
						</div>
		
<!-- 						<div class="tj-tabela-item__coluna col-sm-3 "> -->
<!-- 							<div class="tj-tabela-item__total-comanda  tj-tabela-item__descricao-resumo-comanda">desconto</div> -->
<!-- 						</div> -->
<!-- 						<div class="tj-tabela-item__coluna col-sm-2"> -->
<!-- 							<div class="tj-tabela-item__total-comanda tj-tabela-item__descricao-resumo-valores">(0.00) 0.00</div> -->
<!-- 						</div> -->
						
<!-- 						<div class="tj-tabela-item__coluna col-sm-4"> -->
<!-- 							<div class="tj-tabela-item__total-comanda tj-tabela-item__descricao-resumo-comanda ">taxa</div> -->
<!-- 						</div> -->
<!-- 						<div class="tj-tabela-item__coluna col-sm-2"> -->
<!-- 							<div class="tj-tabela-item__total-comanda tj-tabela-item__descricao-resumo-valores">€0.00</div> -->
<!-- 						</div> -->
		     	</div> 

				<div class="tj-tabela-item  alert-primary">
				
				          <div class="tj-tabela-item__coluna col-sm-3 ">
							<div class="tj-tabela-item__total-comanda  tj-tabela-item__descricao-resumo-comanda">Total Comanda</div>
						</div>
						<div class="tj-tabela-item__coluna col-sm-2">
							<div class="tj-tabela-item__total-comanda tj-tabela-item__descricao-resumo-valores"> </div>
						</div>
						
						<div class="tj-tabela-item__coluna col-sm-4">
							<div class="tj-tabela-item__total-comanda tj-tabela-item__descricao-resumo-comanda "></div>
						</div>
						<div class="tj-tabela-item__coluna col-sm-2">
							<div class="tj-tabela-item__total-comanda tj-tabela-item__descricao-resumo-valores js-valor-total-comanda">€0.00</div>
						</div>
				</div>
					

					<div class="form-group">
						<label class="control-label">Observações:</label> 
						<input id="inputDesconto" 
						 type="text" maxlength="6" class="tj-tabela-produto-campo-quantidade js-decimal" data:valor="${valorDesconto}"
						      style="width: 50px; height: 21px; margin-left: 60%" th:field="*{desconto}" />
						<textarea class="form-control" rows="2" th:field="*{observacoes}"></textarea>
					</div>

			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-xs-3 col-md-4">
						<button class="btn btn-primary icon-btn" type="submit">
							<i class="fa fa-fw fa-lg fa-check-circle"></i>Register
						</button>
					</div>
					<div class="col-xs-offset-2 col-md-offset-3 col-xs-3 col-md-4">

						<select class="form-control" id="select" th:field="*{status}">
							<option th:each="statusControler: ${statusComanda}" th:value="${statusControler}" 
							                       th:text="${statusControler.descricao}">Livre</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>
		
	<div class="col-sm-8" id="formProdutos" >
     <form class="form"  th:action="@{/produto}" >
		<div class="card">

			<div class="card-body">

				 <div class="row produto-selecao">

                 <div id="containerProdutoPesquisaRapida"></div>
		
			</div>

			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-sm-offset-7 col-sm-5">
						<label>pesquise um produto:</label>

						<div class="input-group">
							<input type="text" class="form-control input-sm js-descricao"> <span
								class="input-group-btn">
								<button class="btn btn-default button-size-sm js-buscar-por-descricao" type="button">
									<span class="fa fa-search"></span>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body">

				<div class="row">
               <th:block th:each="categoria : ${categorias}">           
					<div class="col-md-3">
						<div class="produto js-categoria-produtos" style="margin-bottom: 5%" th:classappend="${categoria.cores}" data:categoria="${categoria.id}">
							<div class="descricao-produto">
								<div th:text="${categoria.descricao}">sanduiches</div>
							</div>
						</div>
					</div>
			    </th:block>	
				</div>
			</div>
       </div>

		<div class="clearix"></div>
	 </form>	 
	</div>
  </div>
 </div>
 
 <th:block th:replace="modal/pesquisaRapidaCliente :: pesquisaRapidaCliente"></th:block>
 <div th:replace="/modal/cadastroRapidoObservacoesItemComanda :: modalRapidoObservacoes"></div>
 <th:block th:replace="/hbs/produtosPesquisaRapida"></th:block>
 
 </div>
	 <th:block layout:fragment="javascript-extra"> 
	 <script th:src="@{/javascripts/bootstrap-multiselect.js}"></script>
	 
	 <script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	 <script th:src="@{/javascripts/cliente.pesquisa-rapida.js}"></script>
	 <script th:src="@{/javascripts/comanda.produto-observacoes.js}"></script>
	 
	 <script th:src="@{/javascripts/comanda.tabela-mesas.js}"></script>
	 
	 <script th:src="@{/javascripts/comanda.pesquisa-produto.js}"></script>
	 <script th:src="@{/javascripts/comanda.tabela-itens.js}"></script> 
	 <script th:src="@{/javascripts/comanda.js}"></script> 
	 
	<script type="text/javascript">
      $(document).ready(function() {
        $('#example-getting-started').multiselect({
//         	checkboxName: function(option) { //colocar propriedade name no input
//                 return 'mesa';
//             },
        	
		    nonSelectedText: 'Mesas',
			buttonClass: ' btn btn-primary input-sm',
			
			maxHeight: 200,
            buttonWidth: '100%',
			
            dropRight: true
        });
       });
    </script>
 </th:block>
 
</body>
</html>