<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layoutPadrao"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	xmlns:ristorante="http://TJsistemas.ristorante.com">

<head>
<title>Comanda</title>
</head>

<body>

	<div layout:fragment="conteudo">
		<div th:replace="/layout/menu-lateral/menuLateral"></div>

     <div class="content-wrapper">
        <div class="page-title">
          <div>
            <h1><i class="fa fa-th-list"></i> Tabela Comandas</h1>
          </div>
          
<!--            <form class="form-horizontal" method="GET" th:object=${comandaFilter}> -->
<!--                 <div > -->
<!-- 					<select class="form-control" id="selectSetor" th:field="*{codigo}" > -->
<!-- 						<option value="">Selecione um setor</option> -->
<!-- 						<option th:each="setor : ${setorPreparo}" th:value="${setor}"  -->
<!-- 						        th:text="${setor.descricao}">Bar</option> -->
<!-- 					</select> -->
<!-- 				 </div> -->
              
<!--            </form> -->
          
          <div>
            <ul class="breadcrumb">
              <li><i class="fa fa-home fa-lg"></i></li>
              <li ><a th:href="@{/Comanda/nova}">Cadastro Comanda</a></li>
              <li class="active">Lista Comandas</li>
            </ul>
          </div>
        </div>
        <div class="row">
        
<!--    <div class="col-md-12"> -->
<!--      <div class="card"> -->
<!--       </div> -->
<!--    </div> -->
          
          <div class="col-md-12">
            <div class="card">
            
             <form class="form-horizontal" method="GET" th:object=${comandaFilter}>
             <div class="col-sm-offset-4 col-sm-2" >
                 <select class="form-control" id="selectSetor" th:field="*{setorPreparo}" > 
					<option th:each="setor : ${setorPreparo}" th:value="${setor}"  
					        th:text="${setor.descricao}">Bar</option> 
			     </select>
			  </div>
 					
 	          <div class="col-sm-2 " >		   
                 <button class="btn btn-primary "  type="submit">Submit</button>
              </div> 
           </form>
 					
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Codigo</th>
                    <th>Camareiro</th>
                    <th>Set. Preparo</th>
                    <th>Mesa</th>
                    <th>Tempo</th>
                    <th class="text-right">acoes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="Preparo : ${comandasPreparo}">
                    <td th:text="${Preparo.idComanda}">1</td>
                    <td th:text="${Preparo.codigo}">codigo</td>
                    <td th:text="${Preparo.nomeCamareiro}">camareiro</td>
                    <td th:text="${Preparo.setorPreparo}">status</td>
                    <td th:text="${Preparo.numeroMesa}">mesa</td>
                    <td th:text="${{Preparo.dataAlteracao}}">data</td>
                    
                    	<td class="text-right" >
							  <form method="POST" th:action="@{/relatorios/cupom/{id}(id=${Preparo.idComanda})}" target="_blank">
                                 <button type="submit" class="btn btn-primary btn-xs"> <i class="fa fa-file-pdf-o" title="impressao"></i></button>

							     <a class="btn  btn-danger  btn-xs js-encerrar-preparo-btn" data:codigo="${Preparo.codigo}"  data:url="@{/comanda/encerramentoComanda}" 
							         data:id-comanda="${Preparo.idComanda}" data:preparo="${Preparo.setorPreparo}" data:camareiro="${Preparo.nomeCamareiro}"   title="Encerramento"> 
								   <i class="fa fa-window-close"></i>
							     </a>

<!--                                  <a class="btn  btn-link  btn-xs " title="visualizar">  -->
<!-- 								   <i class="fa fa-window-maximize"></i> -->
<!-- 							     </a>							   -->
                              </form> 
						</td>
                  </tr>
                  
<!--                   <tr th:if="${Preparo.empty}"> -->
<!-- 					  <td colspan="7">Nenhum Comanda Cadastrado!</td> -->
<!-- 				  </tr> -->
                </tbody>
              </table>
            </div>
<!--                <ristorante:pagination page="${pagina}"/> -->
            
          </div>
        </div>
       </div>

	</div>
	
<th:block layout:fragment="javascript-extra"> 
	 <script th:src="@{/javascripts/vendors/sweetalert.min.js}"></script>
	 <script th:src="@{/javascripts/comandas.preparo.js}"></script>
 </th:block>
</body>
</html>