<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">
         
            <div class="tj-tabela-item" th:if="${not itens.empty}">
			       <div class="tj-tabela-item__coluna  tj-tabela-item__coluna--detalhes">
						<span class="tj-tabela-produto-cabecalho"><span>Produtos</span></span>
					</div>
					
					<div class="tj-tabela-item__coluna  tj-tabela-item__coluna--valor-unitario ">
						<div class="tj-tabela-produto-cabecalho">Vlr:</div>	
					</div>
					
					<div class="tj-tabela-item__coluna  tj-tabela-item__coluna--quantidade">
						<div class="tj-tabela-produto-cabecalho">Qtd.:</div>	
					</div>
					
					<div class="tj-tabela-item__coluna  tj-tabela-item__coluna--valores">
						<div class="tj-tabela-produto-cabecalho">Sub. Total</div>
					</div>
			  </div> 
         
         	<div class="tj-tabela-item js-tabela-itens" th:each="item : ${itens}" data:valor-total="${valorTotal}" data:total-itens="${totalItens}" data:quantidade-Itens="${quantidadeProd}">

					<div class="tj-tabela-item__coluna  tj-tabela-item__coluna--detalhes">
						   <a href="#"  data-toggle="modal" data-target="#cadastroRapidoObservacoes" data:id-Produto="${item.produto.id}">
						      <span   th:class="|tj-tabela-produto-nome label label-${item.produto.categoria.cores} js-produto-${item.produto.id}|"  th:classappend="${item.observacoes} != '' ? tj-produtos-observacoes : ''">
						       
						        <span class="control-label js-descricao-tabela-itens" th:text="|${item.produto.id}- ${item.produto.descricao}|" >max 22 caracteres</span>
						     </span>
						   </a>
					</div>
		
		             <div class="tj-tabela-item__coluna  tj-tabela-item__coluna--valor-unitario ">
						<div class="tj-tabela-produto-valor-unitario">R$[[${{item.produto.valor}}]]</div>	
					</div>
		
					<div class="tj-tabela-item__coluna  tj-tabela-item__coluna--quantidade">
						<div class="tj-tabela-produto-quantidade">
							<input type="text" maxlength="4"
								class="tj-tabela-produto-campo-quantidade  js-tabela-comanda-quantidade-item"
								data:id-produto="${item.produto.id}" th:value="${item.quantidade}"/>
						</div>
					</div>
		
					<div class="tj-tabela-item__coluna  tj-tabela-item__coluna--valores">
							<div class="tj-tabela-produto-valor-grande">R$[[${{item.valorTotal}}]]</div>
					</div>
		
					<div class="tj-tabela-item__coluna  tj-tabela-item__coluna--acoes">
						<a title="Excluir" href="#" class="js-remover-item-comanda-btn"> <i class="fa fa-remove"
						          data:id-produto="${item.produto.id}"></i>
						</a>
					</div>
             </div>
             
         <div class="tj-tabela-produto__vazio" th:if="${itens.empty}"> 
		   <i class="glyphicon  glyphicon-shopping-cart"></i>  
		   <span>Você ainda não adicionou nenhum Produto.</span> 
		</div> 
</html>