<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="layout/layoutPadrao">

<head>
<title>Mesas</title>
</head>

<body>

<div layout:fragment="conteudo">

    <div th:replace="/layout/menu-lateral/menuLateral"></div>

		<div class="content-wrapper" >
		    <div class="page-title">
		          <div>
		            <h1><i class="fa fa-dashboard"></i> Comandas</h1>
		          </div>
		          <div>
		            <ul class="breadcrumb">
		              <li><i class="fa fa-home fa-lg"></i></li>
		              <li class="active">Visao Comandas</li>
		              <li><a th:href="@{/comanda/nova}">Comanda Nova</a></li>
		            </ul>
		          </div>
		        </div> 
		 
		    <form role="form">
								
		       <div class="row">
		       
		<div class="clearfix"></div>
		          
		      <th:block th:each="comanda : ${comandas}">   
		         <div class="col-md-3" >
				    
		         <div class="mesas-small">

                     <div class="hidden js-situacao-mesas" th:each="mesa : ${comanda.mesasComanda}" 
		                 th:text="${mesa.mesa.situacaoMesa.toString() == 'LIVRE'}? 'success ' : (${mesa.mesa.situacaoMesa.toString() == 'OCUPADA'}? 'danger ' : 'warning ') ">
		              </div>
				    
		              <div class="tempo-comandas">
		                 <div class="hidden tempo-static"  th:text="${comanda.inicioAtendimento}"></div> 
		                 <div class ="tempo tempo-calculado" th:text="${comanda.inicioAtendimento}">T:00h 00m</div>  
		                
		              </div> 
		           
		              <div class="card-title-w-btn">
		                <a th:href="@{/comanda/{id}(id=${comanda.id})}" target="_blank">
		                 <i class="icon fa fa-users fa-3x"> 
		                    <span th:each="mesa : ${comanda.mesasComanda}"  th:text="|${mesa.mesa.numeroMesa}${mesaStat.last ? '' : ', '}|" >1</span>
		                 </i>
		                 </a> 
		              </div>
		              
					  <div  class ="mesas-small valor js-decimal" th:text="|R$ ${{comanda.valorTotal}}|">0,00</div>
		           </div>
				  </div>
		      </th:block>

				</div>
		   </form>
	 </div>
</div>
 <th:block layout:fragment="javascript-extra"> 
 <script th:src="@{/javascripts/mesas.js}"></script>
 </th:block>

</body>	 
	 