<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layoutPadrao"
	xmlns:ristorante="http://TJsistemas.ristorante.com">

<head>
<title>Categorias</title>
</head>

<body>

	<div layout:fragment="conteudo">
		<div th:replace="/layout/menu-lateral/menuLateral"></div>


     <div class="content-wrapper">
        <div class="page-title">
          <div>
            <h1><i class="fa fa-th-list"></i> Busca Categorias</h1>
             <!-- <p>Basic bootstrap tables</p> -->
          </div>
          <div>
            <ul class="breadcrumb">
              <li><i class="fa fa-home fa-lg"></i></li>
              <li>Tables</li>
              <li class="active"><a href="#">Simple Tables</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
        
          <div class="col-md-12">
            <div class="card">
          
         <form class="form-horizontal" method="GET" th:object=${categoriaFilter}>
              		  
          <div class="row"> 
            
            <div class="col-sm-2 col-sm-offset-2">
              <label class="control-label" >COD.</label>
                   <input class="form-control" type="text" th:field="*{codigo}">
              </div> 

             <div class="col-sm-3">
              <label class="control-label" >Descrição</label>
                  <input class="form-control"  type="text" th:field="*{descricao}">
            </div> 
           
            <div class="col-sm-2 text-center" >		  
              <button class="btn btn-primary " style="margin-top:3rem" type="submit">Submit</button>
           </div> 
                  
        </div> 
          
             </form>
            </div>
        </div>
          
          <div class="col-md-12">
            <div class="card">
             <!-- <h3 class="card-title">Tabela Cliente</h3> -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="text-center">
<!--                         <th:block th:replace="fragments/Ordenacao :: order (${pagina}, 'codigo', 'COD.')"></th:block> -->
                             <ristorante:order page="${pagina}" field="codigo" text="COD."/>        
                    </th>
                    <th class="text-center">Descricao</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="categoria : ${pagina.conteudo}">
                    <td class="text-center" th:text="${categoria.codigo}">1</td>
                    <td class="text-center" th:text="${categoria.descricao}">categoria</td>
                    
                    	<td class="text-right" >
							<a class="btn  btn-link  btn-xs" title="Editar" th:href="@{/categoria/{id}(id=${categoria.id})}"> 
								<i class="fa fa-pencil"></i>
							</a>
						</td>
                  </tr>
                  
                  <tr th:if="${pagina.vazia}">
					  <td colspan="7">Nenhuma Categoria Cadastrada!</td>
					</tr>
                </tbody>
              </table>
            </div>
               <ristorante:pagination page="${pagina}"/>
            
          </div>
        </div>
       </div>

	</div>
</body>
</html>