<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>TJ System</title>


<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/main.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/font-awesome.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/login.css}"/>

 <link rel="shortcut icon" th:href="@{/layout/images/favicon.png}">
</head>

<body>

   <div class="form-login col-xs-offset-1 col-xs-10  col-sm-offset-3 col-sm-6  col-md-offset-4 col-md-4 ">
          
           <header>
<!--               <h1 class="centralizar-img"><img class="img-responsive" th:src="@{/layout/images/logo-gray.png}"></h1> -->
              <h2 class="text-center">Entre com seu <b>usuário</b> e <b>senha</b></h2>
           
                <div class="tem-erro text-center" th:if="${#bools.isTrue(param.error)}">
		     	    O e-mail e/ou senha não conferem
		        </div>
           </header>
           
           <form th:action="@{/login}" method="POST">
             <div class="form-group">
                <div class="input-group"> 
                 
                   <div class="input-group-addon">
                      <span class="fa fa-user"></span>
                   </div> 
                   <input type="text" name="username" class="form-control js-usuario" placeholder="Seu Usuario">
                </div>
            </div>
               
            <div class="form-group">
              <div class="input-group">  
                 
                  <div class="input-group-addon">
                      <span class="fa fa-ellipsis-h"></span>
                  </div> 
                  <input type="password" name="password" class="form-control" placeholder="Senha">
              </div>      
            </div>
            
             <div class="form-group">

               <div class="input-group">  
                 
                  <div class="input-group-addon">
                      <span class="fa fa-building-o"></span>
                  </div> 

				<select  class="form-control" id="empresas" name="empresa" disabled="disabled" >
                      <option value='1'> Empresas</option>
				</select>
            
              </div>
            </div>
         
             <footer>
                <button type="submit" class="btn btn-primary pull-right js-limpaCookies">Entrar</button>
            </footer>
           </form>
       </div>

<script th:src="@{/layout/javascripts/jquery-2.1.4.min.js}"></script>
<!-- <script th:src="@{/layout/javascripts/main.js}"></script> -->
<script th:src="@{/layout/javascripts/login.js}"></script>
</body>
</html>