<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layoutPadrao"
	xmlns:ristorante="http://TJsistemas.ristorante.com">

<head>
<title>Produto</title>
</head>

<body>

	<div layout:fragment="conteudo">
		<div th:replace="/layout/menu-lateral/menuLateral"></div>

     <div class="content-wrapper">
        <div class="page-title">
          <div>
            <h1><i class="fa fa-th-list"></i> Tabela Produtos</h1>
          </div>
          <div>
            <ul class="breadcrumb">
              <li><i class="fa fa-home fa-lg"></i></li>
              <li ><a th:href="@{/produto/novo}">Cadastro Produto</a></li>
              <li class="active">Lista Produtos</li>
            </ul>
          </div>
        </div>
        <div class="row">
        
   <div class="col-md-12">
     <div class="card">
          
        <form class="form-horizontal" method="GET" th:object=${produtoFilter}>
          <div class="row"> 
            
            <div class="col-sm-2">
              <label class="control-label" >COD.</label>
                          <input class="form-control" type="text" th:field="*{codigo}">
              </div> 

             <div class="col-sm-6">
              <label class="control-label" >Descricao</label>
                          <input class="form-control"  type="text" th:field="*{descricao}">
            </div> 
            <div class="col-sm-4">
              <label class="control-label" >EAN</label>
                          <input class="form-control"  type="text" th:field="*{EAN}">
            </div> 
           </div> 
         
         <div class="row">   
         
           	<div class="col-sm-2">
					<label class="control-label" for="categoria">Categoria</label> 
					<select id="categoria" class="form-control" th:field="*{categoria}">
	                    <option value="">Categorias</option>
	                    <option th:each="categoria : ${categoria}" th:value="${categoria.id}" th:text="${categoria.descricao}"></option>
	                </select>
		    </div>
		    
		    <div class="col-sm-2">
					<label class="control-label" for="cliente">Cliente</label> 
					<select id="cliente" class="form-control" th:field="*{cliente}">
	                    <option value="">Fornecedores</option>
	                    <option th:each="fornecedor : ${fornecedor}" th:value="${fornecedor.id}" th:text="${fornecedor.nome}"></option>
	                </select>
		     </div>
         
         
           <div class=" col-sm-6 ">	
           <label for="precoDe">Preço unitário</label>
             <div class="form-inline">	  
                       <input class="form-control js-decimal"  type="text" th:field="*{valorMinimo}" id="precoDe">
                       <label class="control-label" >Ate</label>
                       <input class="form-control js-decimal"  type="text" th:field="*{valorMaximo}">
            </div> 
          </div> 
          
            <div class="col-sm-2 " >		  
              <button class="btn btn-primary " style="margin-top:3rem" type="submit">Submit</button>
           </div> 
          </div>       
         
       </form>
      </div>
   </div>
          
          <div class="col-md-12">
            <div class="card">
             <!-- <h3 class="card-title">Tabela Cliente</h3> -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                       <ristorante:order page="${pagina}" field="codigo" text="COD."/>        
                    </th>
                    <th><ristorante:order page="${pagina}" field="descricao" text="Descricao."/></th>
                    <th>EAN</th>
                    <th>Categoria</th>
                    <th class="text-center">valor</th>
                    <th class="text-right">acoes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="produto : ${pagina.conteudo}">
                    <td th:text="${produto.codigo}">1</td>
                    <td th:text="${produto.descricao}">Mark</td>
                    <td th:text="${produto.EAN}">Otto</td>
                    <td th:text="${produto.categoria.descricao}">rede</td>
                    <td class="text-center"  th:text="|€ ${{produto.valor}}|">Mark</td>
                    
                    	<td class="text-right" >
							<a class="btn  btn-link  btn-xs" title="Editar" th:href="@{/produto/{id}(id=${produto.id})}" > 
								<i class="fa fa-pencil"></i>
							</a>
						</td>
                  </tr>
                  
                  <tr th:if="${pagina.vazia}">
					  <td colspan="7">Nenhum Produto Cadastrado!</td>
					</tr>
                </tbody>
              </table>
            </div>
               <ristorante:pagination page="${pagina}"/>
            
          </div>
        </div>
       </div>

	</div>
</body>
</html>